{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}

{% block content %}

<h2>Canned Message</h2>


{% set route = cannedMessage.getId() ? 'sglc_admin_canned_message_edit' : 'sglc_admin_canned_message' %}
{% set vars = cannedMessage.getId() ? {'id': cannedMessage.getId()} : {} %}

<form action="{{ path(route, vars) }}" method="post" class="form-horizontal">
    {% if cannedMessage.getId() %}
    <legend>Edit canned message "{{cannedMessage.getTitle()}}"</legend>
    {% else %}
    <legend>Add new canned message</legend>
    {% endif %}

    {{ form_widget(form) }}

    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn" href="{{ path('sglc_admin_canned_messages') }}">Cancel</a>
    </div>
</form>
{% endblock %}
