{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}

{% block content %}

<h2>ServerGrove LiveChat Admin</h2>

<form action="{{ path('_security_check') }}" method="post" class="form-horizontal">
    <legend>Please enter your e-mail and password to access the admin panel</legend>
    {{ form_widget(form) }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>

</form>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(':text').focus();
    });
</script>
{% endblock %}
