{% extends "ServerGroveLiveChatBundle::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets "@ServerGroveLiveChatBundle/Resources/public/css/bootstrap.min.css"
               "@ServerGroveLiveChatBundle/Resources/public/css/admin.css"
               output="css/sglc-admin.css"
%}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block header %}
{% include "ServerGroveLiveChatBundle:Admin:header.html.twig" %}
{% endblock %}

{% block body %}
<div class="container" id="wrapper">
{% block content %}{% endblock %}
</div>
{% endblock %}
