<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ServerGrove Livechat{% endblock %}</title>
        {% block stylesheets %}
        {% stylesheets '@ServerGroveLiveChatBundle/Resources/public/css/main-lc.css' output='css/sglc.css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% javascripts '@ServerGroveLiveChatBundle/Resources/public/js/*' output='js/sglc.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="container">
            {% block preheader %}{% endblock %}
            {% block header %}
            <div id="chatWin_header">
                <img src="{{asset('/bundles/servergrovelivechat/images/sg_logo.jpg')}}" width="182" height="37" alt="Online Support ServerGrove" class="logo" />
                {% block head_buttons %}{% endblock %}
            </div>
            {% endblock %}
            {% block postheader %}{% endblock %}

            <div class="vspacer"></div>
            {% block content %}{% endblock %}

            {% block prefooter %}{% endblock %}
            {% block footer %}{% endblock %}
            {% block postfooter %}{% endblock %}
        </div>
        {% endblock %}
    </body>
</html>