<div id="currentVisits">
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#currentVisits table tbody tr:even').addClass('td1');
        });
    </script>
    <h2>
        Current Sessions: <span id="visitsCount">0</span> - Online Operators: <span id="operatorsOnlineCount">0</span> - Last update: <span id="lastUpdate"></span>
    </h2>
    <table width="100%">
        <thead>
            <tr class="header">
                <th>Visitor ID (# visits)</th>
                <th>Local Time</th>
                <th>Hostname</th>
                <th>Time</th>
                <th>Duration (current page/Total)</th>
                <th>Languages</th>
                <th>Browser</th>
                <th>Current Page</th>
                <th>Referrer</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>