<style type="text/css">
    ul#header-menu li {
        list-style: none;
        display: inline-block;
    }
</style>
<ul id="header-menu">
    <li>
        <a href="{{ path('sglc_admin_console_sessions') }}">Requests</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_operators') }}">Operators</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_operator_departments') }}">Departments</a>
    </li>
    <li>
        <a href="{{ path('sglc_admin_logout') }}">Logout</a>
    </li>
    <li>
        <a href=""></a>
    </li>
</ul>
