{% extends "ChatBundle::admin-layout.twig.html" %}
{% block metas %}
<meta http-equiv="refresh" content="10" />
{% endblock %}

{% block content %}
{% include "ChatBundle:Admin:header.twig.html" %}
{% if chats %}
<script type="text/javascript">
    //<![CDATA[
    {% include "ChatBundle:Admin:Sessions.twig.js" %}
    //]]>
</script>
{% include "ChatBundle:Admin:requestedChats.twig.html" with {'chats': chats} only %}
<br>
<br>
{% include "ChatBundle:Admin:currentVisits.twig.html" %}
{% endif %}
{% endblock %}
