{% extends "ServerGroveLiveChatBundle::admin-layout.html.twig" %}

{% block h1 %}Admin access{% endblock %}

{% block content %}

<form action="{{ path('_security_check') }}" method="post" class="form-horizontal">

    <legend>Please, log in</legend>

    {{ form_widget(form) }}

    <div class="form-actions">

        <button type="submit" class="btn btn-primary">Login</button>

    </div>

</form>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(':text').focus();
    });
</script>

{% endblock %}
