{% extends "::base.html.twig" %}

{% block body %}
<div id="chatWin_header">
    <img src="{{asset('images/sg_logo.jpg')}}" width="182" height="37" alt="Online Support ServerGrove" class="logo" />
    {% block head_buttons %}{% endblock %}
</div>
<div class="vspacer"></div>

    {% block content %}{% endblock %}
{% endblock %}
