<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Chat Application{% endblock %}</title>
        <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
        <link type="text/css" href="{{asset('css/main-lc.css')}}" rel="stylesheet" media="all" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
